@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #030000;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 20px 0;
    text-align: center;
    word-break: break-word;
    color: #5314CD;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem;
        line-height: 1.2;
    }
}



h2 {
    padding-top: 2rem;
    font-size: 30px;
    text-align: center;
}

p {
    word-break: break-word;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 20px;
    text-align: center;

}

img {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    ;
}

a {
    padding: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button {
    display: block;
    margin: 0 auto;
    width: 200px;
    background-color: #5314cd;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 2rem;
    text-decoration: none;
    transition: 0.2s ease;
}

.button:hover {
    transform: scale(1.1);
}

.navbar {
    background-color: #5314CD;
    padding: 5px 0;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
}

.navbar a{
    color: rgb(255, 254, 254);
}



#home {
    padding-top: 100px;
    background-color: transparent;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #home {
        padding-top: 170px; /
    }
}



#home p {
    color: #5314CD;
    font-size: 20px;
}

section {
    background-color: transparent;
    padding: 80px 20px;
    text-align: center;
    scroll-margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}


form label {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.radios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radios label {
    display: flex;  
    gap: 10px;         
    align-items: center;    
    width: 150px;
}



form button {
    margin-top: 30px;
    background: #222;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    background: #5314cd;
}

video {
    width: 100%;
    max-width: 720px;
    height: auto;
    display: block;
    margin: auto;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 5px;
}

footer li a {
    display: inline-block;
    padding: 0;

}


table {
    margin: 40px auto;
    padding: 0;
}

td,
th {
    border: 1px solid black !important;
    text-align: center !important;
    padding: 1rem !important;
}


section {
    padding: 80px 20px;
}

section h2 {
    margin-bottom: 20px;
}

.navbar button{
    color: #5314cd;
    background-color: white;
}

footer li {
list-style-type: none;
}
footer p {
    padding: 1rem;
}

@media (max-width: 768px) {
    #home {
        margin-top: 230px;
    }
}